{{> header }}
{{> navbar }}
<div class="container">
    <h1 class="display-5">Acerca de</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eos, quod ut eaque recusandae dolorem nihil exercitationem atque harum suscipit quas sapiente architecto autem explicabo quibusdam asperiores itaque nemo? Ad?
        Eveniet pariatur soluta officiis quo tenetur ut accusantium, maxime dolor eligendi possimus cupiditate sapiente officia libero dignissimos veritatis porro natus, commodi illum quae vero. Quod ullam eius minus vel voluptate!
        Maiores, impedit. Quis assumenda dolor cupiditate recusandae, totam fugit qui molestiae ullam ad vero, quas est facere dolores velit, magni pariatur veritatis saepe! Fuga ipsam, atque iusto nobis natus culpa!
    </p>
    <hr>
    <p>Esta página solo es una prueba para la librería HBS</p>
</div>
{{> footer }}