{{!-- Para incluir elementos se utiliza la siguiente
sintaxis --}}
{{> header }}
{{> navbar }}
<div class="container">
    <h1 class="display-5">Prueba hbs</h1>
    <p class="lead">Nombre: {{ nombre }}</p>
    <p class="lead">Año: {{ anio }}</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, delectus at obcaecati quo nam nihil, id iste tempore perspiciatis, nesciunt facilis ipsum ipsa incidunt odit eveniet laboriosam tempora aut recusandae!
    Dignissimos qui vero, fuga quos, cumque ullam odit ea reprehenderit officia facere voluptates itaque recusandae porro nisi dolorem? Deleniti nemo mollitia vel dicta consequatur fugit commodi, accusantium repellendus ut quisquam?
    Minima, hic ratione! Itaque vero corporis et perferendis obcaecati quidem harum expedita, facilis asperiores ipsum tempore! Amet facilis excepturi ducimus necessitatibus non! Voluptate neque totam at, voluptatibus accusamus perspiciatis cum!
    Ipsum, distinctio illum? Tempora aspernatur earum quos voluptatem, cupiditate ullam corrupti. Error porro iure reiciendis quo amet tempore quaerat nemo, quidem unde possimus labore iste veritatis minima. Rerum, distinctio tempora.</p>
</div>
{{> footer }}